<section class="board-show-wrapper">

    <div class="board-show-header">
        <h1><%= @board.title %></h1>
        <p><%= @board.description %></p>
        <h4><a href="/users/<%= @board.user.id %>"><%= @board.user.username %></a></h4>
        <br><hr><br>
    </div>

    <!-- Create a Post -->
    <div class="board-show-new-post">
        <form action="/boards/<%= @board.id %>/posts" method="post">
            <input type="text" id="title" placeholder="  Post Title" name="post[title]" size="50"><br><br>
            <textarea id="content" placeholder=" This post is about..." name="post[content]" rows="3" cols="150"></textarea><br>
            <button class="submitbtn" type="submit">Add Post</button>
        </form>
    </div>

    <!-- Display Posts -->
    <div class="board-show-all-posts">
        <% if @board.posts.any? %>
            <% @board.posts.each do |post| %>
                <div class="post">
                    <div class="post-header">
                        <h5><%= post.title %></h5>
                        <h6><a href="/users/<%= @board.user.id %>"><%= post.user.username %></a></h6>
                    </div>
                    <p class="post-content"><%= post.content %></p>
                    
                    <% if current_user == post.user %>
                        <div class="post-footer">
                            <a href="/boards/<%= @board.id %>/posts/<%= post.id %>/edit">Edit</a>
                            <form action="/boards/<%= @board.id %>/posts/<%= post.id %>" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button class="deletebtn" type="submit">Delete Post</button>
                            </form>
                        </div>
                    <% end %>
                    
                </div>
                <br>
            <% end %>
        <% end %>
    </div>

    <!-- Edit and Delete Board -->
    <div class="board-show-footer">
        <% if current_user == @board.user %>
            <a href="/boards/<%= @board.id %>/edit">Edit Board</a>
            <form action="/boards/<%= @board.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="deletebtn" type="submit">Delete Board</button>
            </form>
        <% end %>
    </div>

</section>
