<h1><%= @board.title %></h1>
<h4><a href="/users/<%= @board.user.id %>"><%= @board.user.username %></a></h4>
<br><hr><br>
<p><%= @board.description %></p>

<% if current_user == @board.user %>
    <a href="/boards/<%= @board.id %>/edit">Edit Board</a>
    <form action="/boards/<%= @board.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="deletebtn" type="submit">Delete Board</button>
    </form>
<% end %>
